@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #f8f9fa; /* Light grey/white board */
  --foreground: #09090b;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow: hidden; /* Important for Canvas apps */
}

/* Custom dot background for Miro style */
.bg-dots {
  background-image: radial-gradient(#d1d5db 1.5px, transparent 1.5px);
  background-size: 24px 24px;
}
